<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="header-line"></div>
	<div class="main_page-container">
		<div class="left-section">
			
			<div class="box box1">
			<h3>My devices</h3>
			</div>		
			
			<div class="box box2">
			<h3>Users</h3>
			</div>

			<div class="box box3">
                        <h3>Neighboorhood Watch</h3>
                        </div>

			<div class="box box4">
                        <h3>Notifications</h3>
                        </div>
			
			<div class="box box5">
                        <h3>Alarm System</h3>
                        </div>

			<div class="box box6">
                        <h3>Camera Settings & Live Monitoring</h3>
                        </div>

			<div class="box box7">
                        <h3>Smart Home</h3>
                        </div>

			<div class="box box8">
                        <h3>Voice Control</h3>
                        </div>
			
			<div class="box box9">
                        <h3>Settings</h3>
                        </div>
			
			<div class="box box10">
                        <h3>Support</h3>
                        </div>
		</div>

		<div class="right-section">
			<h1>Logged in as: <%= @username %></h1>
			<h2>System Status: ONLINE</h2>
		</div>

	</div>
	<div class="footer"></div>
</body>
</html>
